// Color codes used across website
$primaryColor:#1CA0FF;
$whiteColor:#fff;
$borderColor:#DFE3E8;
$textColor:#454F5B;
$blackText:#4a4a4a;
$headingText:#212B36;
$greyBackgroundColor:#F7FBFF;
$footerBackground:#283446;
// Font sizes used across website
$largeFont: 30px;
$mediumFont: 24px;
$smallFont: 16px;
// Padding and border values
$largePadding:70px;
$lesspadding:30px;
$minimumPadding:10px;
$borderRadius:3px;
$boxShadow:0 8px 20px 0 rgba(30, 41, 56, 0.1);
$warningBoxShadow:5px 10px 40px 0 rgba(0, 0, 0, 0.15);