.navbar-default {
    background-color: $whiteColor;
    border-color: $whiteColor;
    border-radius: 0;
    box-shadow: $boxShadow;
    margin: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    @media screen and(max-width: 767px) {
        position: relative;
    }
    .container {
        @media screen and(min-width: 768px)and(max-width: 991px) {
            width: auto !important
        }
    }
    .navbar-brand {
        color: #000000;
        font-size: 24px;
        font-weight: 700;
        font-family: CircularStd-Black;
        @media screen and(min-width: 768px)and(max-width: 991px) {
            font-size: 24px !important;
        }
    }
    button {
        padding: 5px 15px;
        margin-top: 18px;
        @media screen and(max-width: 767px) {
            padding: 10px;
        }
    }
    .dropdown-menu {
        p {
            display: inline-block;
            vertical-align: text-top;
            margin-left: 10px;
        }
    }
    .nav-taget {
        cursor: pointer;
        padding-top: 25px;
        padding-bottom: 25px;
        @media screen and(min-width: 768px)and(max-width: 991px) {
            padding: 25px 10px !important;
            font-size: 14px;
        }
    }
    .dropdown {
        a {
            img {
                vertical-align: baseline;
                margin: 0 10px;
            }
        }
        &.open {
            a {
                &:hover,
                &:focus {
                    color: #777 !important;
                    background-color: $whiteColor !important;
                }
            }
        }
    }
}

.nav {
    li {
        @media screen and(max-width: 767px) {
            padding: 0 20px;
        }
    }
}